<%-include('../layouts/header.ejs')-%>
    <div class="chatbox">
        <%for(x in locals.user){%>
            <input type="hidden" value="<%=locals.user[x]._id%>" id="user_id">
            <input type="hidden" value="<%=locals.user[x].User_full%>" id="user_full">
            <input type="hidden" value=<%=locals.role%> id="role">
            <input type="hidden" value=<%=locals.user[x].User_avatar%> id="us_img">
        <%}%>
        <h3 class="text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div class="chat_list active_chat" >
                            <div class="chat_people">
                                <ul class="list_people">
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="mesgs" id="list_mess">
                    <div class="message">
                        <div id="title"></div>
                        <div class="msg_history">
                            <div class="incoming_msg">
                                <div class="incoming_msg_img" id="img_come">

                                </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg" id="msg_come">
                                    </div>
                                </div>
                            </div>
                            <div class="outgoing_msg">
                                <div class="incoming_msg_img" id="img_out">

                                </div>
                                <div class="sent_msg" id="my_msg">

                                </div>
                            </div>
                        </div>
                        <div class="type_msg" id="send-mess">
                            <div class="input_msg_write">
                                <input type="text" placeholder="Type a message" id="input-message"/>
                            </div>
                            <input type="button" value="Send" class="msg_send_btn" id="send">
                            <div class="file">
                                <label class="myLabel">
                                    <input type="file">
                                    <span><i class="fas fa-paperclip"></i></span>
                                </label>
                            </div>
                        </div>
                        <form class="form-horizontal" action="" method="POST" style="font-size: 15px; margin-top: 30px; border: 1px solid #c4c4c4; padding: 10px;">
                            <h4 style="text-align: center; font-weight: bold;">Set Schedual Form</h4>
                            <br>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12">Date</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="date" class="form-control" value="" name="date_schedual">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12">Hours</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="time" class="form-control" value="" name="Hours_schedual">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12">Place</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <textarea name="place_schedual" required placeholder="" cols="80" rows="3" ></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12">Note</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <textarea name="place_schedual" required placeholder="" cols="80" rows="3" ></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                        <input class="btn btn-primary" type="submit" value="Set Schedual">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="list-file-schedual">
                        <div class="table-responsive" style="border-bottom: 1px solid #c4c4c4;">
                            <h5 style="margin-top: 10px; margin-left: 10px;">List File Shared</h5>
                            <table class="table table-striped table-hover" border="1" style="margin-top: 10px;">
                                <tr>
                                    <td>
                                        abc
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        abc
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        abc
                                    </td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="table-responsive" style="border-bottom: 1px solid #c4c4c4;">
                            <h5 style="margin-top: 10px; margin-left: 10px;">List File Shared</h5>
                            <table class="table table-striped table-hover" border="1" style="margin-top: 10px;">
                                <tr>
                                    <td>
                                        abc
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        abc
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        abc
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/User/js/chat.js"></script>
<%-include('../layouts/footer.ejs')-%>