<%-include('../layouts/header.ejs')-%>
    <div class="container">
        <%for(x in locals.user){%>
            <input type="hidden" value="<%=locals.user[x]._id%>" id="user_id">
            <input type="hidden" value="<%=locals.user[x].User_full%>" id="user_full">
            <input type="hidden" value=<%=locals.role%> id="role">
        <%}%>
        <h3 class="text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar"  placeholder="Search" >
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div class="chat_list active_chat" >
                            <div class="chat_people" id="list_chat">
                                <div class="chat_img"> </div>
                                <div class="chat_ib">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/User/js/chat.js"></script>
<%-include('../layouts/footer.ejs')-%>