<%-include('../layouts/header.ejs')-%>
    <div class="container">
        <%for(x in locals.user){%>
            <input type="hidden" value="<%=locals.user[x]._id%>" id="user_id">
            <input type="hidden" value="<%=locals.user[x].User_full%>" id="user_full">
            <input type="hidden" value=<%=locals.role%> id="role">
            <input type="hidden" value=<%=locals.user[x].User_avatar%> id="us_img">
        <%}%>
        <h3 class="text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div class="chat_list active_chat" >
                            <div class="chat_people">
                                <ul class="list_people">
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="mesgs" id="list_mess">
                    <div id="title"></div>
                    <div class="msg_history">
                        <div class="incoming_msg">
                            <div class="incoming_msg_img" id="img_come">

                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg" id="msg_come">
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="incoming_msg_img" id="img_out">

                            </div>
                            <div class="sent_msg" id="my_msg">
                            </div>
                        </div>
                </div>
                <div class="type_msg" id="send-mess">
                        <input type="date" id="date">
                        <input type="time" id="time"><br>
                    <div class="input_msg_write">
                        <input type="text" placeholder="Type a message" id="input-message"/>
                    </div>
                    <input type="button" value="Send" class="msg_send_btn" id="send">
                    <input type="file"value=""><br>
                    <button id="set_time">set time</button><br><br>
                    <div id="table_se_time">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/User/js/chat.js"></script>
<%-include('../layouts/footer.ejs')-%>